<h1>Beer styles</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>

<% @styles.each do |style| %>
  <tr>
    <td><%= link_to style.name, style %></td>
    <td><%= style.description %></td>
    <td></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Style', new_style_path %>
