<h1>Beer styles</h1>

<% @styles.each do |style| %>
  <dl>
    <dt><%= link_to style.name, style %></dt>
    <dd><%= style.description %></dd>
  </dl>
<% end %>


<br />

<%= link_to 'New Style', new_style_path, :class => "btn btn-primary" %>
